/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  transition: background-color 3s ease-in-out; /* Плавный переход фона */
}

header {
  background: #333;
  color: white;
  padding: 20px;
}

main {
  padding: 50px 20px;
}

footer {
  background: #333;
  color: white;
  padding: 10px;
}

h1, h2 {
  margin: 0;
}